In [1]:
import os 
from script_for_getting_summary_for_jupyter import *

In [25]:
os.chdir("/hdd_14T/data/PXD002952/osw_res_20210303/hye124/ttof5600/32fix")
hye124_ttof5600_32fix = get_summary_hye124()

time: 21.900899410247803 s
time: 24.1329505443573 s
time: 21.486400604248047 s
time: 20.607905626296997 s

In [26]:
hye124_ttof5600_32fix

  experiment_id sample_id proteins peptides
0     001-Pedro       [1]     1600    11992
1     002-Pedro       [2]     1690    12932
2     003-Pedro       [1]     1594    11877
3     005-Pedro       [1]     1555    11426

I suspect the 005 should be iteration 2 sample. 

tenzer reported : reported

peptides

iteration 1: 26,225 : 24,924

iteration 2: 26,767 : 23,303

proteins:

iteration 1: 3,296 : 3,290

iteration 2: 3,339 : 3,149

In [21]:
os.chdir("/hdd_14T/data/PXD002952/osw_res_20210303/hye124/ttof5600/32fix_w_64v_library_test")
hye124_ttof5600_32fix_w_64var_specLib = get_summary_hye124()

time: 20.332343816757202 s
time: 22.5717351436615 s
time: 20.524690866470337 s
time: 19.11354374885559 s

In [22]:
hye124_ttof5600_32fix_w_64var_specLib

  experiment_id sample_id proteins peptides
0     001-Pedro       [1]     1855    10653
1     002-Pedro       [2]     2013    11719
2     003-Pedro       [1]     1871    10591
3     005-Pedro       [1]     1797    10073

peptides

iteration 1: 26,225 : 22,379

iteration 2: 26,767 : 20,664

proteins:

iteration 1: 3,296 : 3,868

iteration 2: 3,339 : 3,810

In [28]:
os.chdir("/hdd_14T/data/PXD002952/osw_res_20210303/hye124/ttof5600/64var")
hye124_ttof5600_64var = get_summary_hye124()

time: 43.028743505477905 s
time: 36.65978002548218 s
time: 40.41819429397583 s
time: 40.48192238807678 s

In [38]:
hye124_ttof5600_64var

  experiment_id sample_id proteins peptides
0     007-Pedro       [1]     2411    20071
1     008-Pedro       [2]     2207    17671
2     009-Pedro       [1]     2331    19232
3     010-Pedro       [2]     2374    19232

tenzer reported : reported

peptide:

iteration 1: 34,154 : 39,303

iteration 2: 34,476 : 36,903

protein:

iteration 1: 4,056 : 4,742 

iteration 2: 4,086 : 4,581

In [ ]:
os.chdir("/hdd_14T/data/PXD002952/osw_res_20210303/hye124/ttof6600/32fix")
hye124_ttof660_32fix = get_summary_hye124()

In [ ]:
hye124_ttof660_32fix

In [2]:
os.chdir("/hdd_14T/data/PXD002952/osw_res_20210303/hye124/ttof6600/64var")
hye124_ttof6600_64var = get_summary_hye124_ttof6600_64var() #redo this

/home/ptruong/git/dia_sum/scripts/PXD002952/script_for_getting_summary_for_jupyter.py:197: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df_sample["proteinQuantity"] = df_sample["ProteinName"].map(get_protein_quantity)

time: 77.48334550857544 s
time: 84.37948298454285 s

In [3]:
hye124_ttof6600_64var

  experiment_id sample_id proteins peptides
0     008-Pedro       [1]     3323    31030
1     009-Pedro       [2]     3472    33060

tenzer reported : reported

In [13]:
os.chdir("/hdd_14T/data/PXD002952/osw_res_20210303/hye110/ttof6600/32fix")
hye110_ttof6600_32fix = get_summary_hye110()

time: 27.972650051116943 s
time: 31.01091170310974 s
time: 27.206010103225708 s
time: 30.332141160964966 s
time: 25.4646999835968 s

In [14]:
hye110_ttof6600_32fix

  experiment_id sample_id proteins peptides
0     001-Pedro       [A]     1844    14612
1     002-Pedro       [B]     1857    15650
2     003-Pedro       [A]     1804    14310
3     004-Pedro       [B]     1850    15495
4     010-Pedro       [A]     1756    13650

tenzer reported : reported

peptides

30,848 : (27,960 - 30,262) (minimal of combined A:B set)

proteins

3,700 : (3,606 - 3701)

In [15]:
os.chdir("/hdd_14T/data/PXD002952/osw_res_20210303/hye110/ttof6600/32var")
hye110_ttof6600_32var = get_summary_hye110()

time: 34.89126920700073 s
time: 37.840336322784424 s
time: 34.54505491256714 s
time: 35.213249921798706 s
time: 34.49706268310547 s
time: 36.00996375083923 s

In [24]:
hye110_ttof6600_32var

  experiment_id sample_id proteins peptides
0     001-Pedro  [A.mzML]     2167    17297
1     002-Pedro  [B.mzML]     2176    18273
2     003-Pedro  [A.mzML]     2124    17033
3     004-Pedro  [B.mzML]     2091    17222
4     005-Pedro  [A.mzML]     2132    16955
5     006-Pedro  [B.mzML]     2094    17582

tenzer reported : reported

peptide

33,462 : (34,177 - 35,570)

protein

3,988 : (4,226 - 4,343)

In [17]:
os.chdir("/hdd_14T/data/PXD002952/osw_res_20210303/hye110/ttof6600/64fix")
hye110_ttof6600_64fix = get_summary_hye110()

time: 32.01488637924194 s
time: 33.67243146896362 s
time: 29.736671209335327 s
time: 33.022281646728516 s
time: 31.649268865585327 s
time: 32.505454540252686 s

In [18]:
hye110_ttof6600_64fix

  experiment_id sample_id proteins peptides
0     001-Pedro  [A.mzML]     2018    15947
1     002-Pedro  [B.mzML]     1997    16709
2     003-Pedro  [A.mzML]     1954    15267
3     004-Pedro  [B.mzML]     1956    16395
4     005-Pedro  [A.mzML]     2008    15839
5     006-Pedro  [B.mzML]     1955    16163

tenzer reported: reported

peptide
32,479 : (31,430 - 32,656)

protein
3,844 : (3,909 - 4,015)

In [19]:
os.chdir("/hdd_14T/data/PXD002952/osw_res_20210303/hye110/ttof6600/64var")
hye110_ttof6600_64var = get_summary_hye110()

time: 47.661564111709595 s
time: 45.57010841369629 s
time: 47.294400215148926 s
time: 46.03310441970825 s
time: 44.336047649383545 s
time: 41.34174633026123 s

In [20]:
hye110_ttof6600_64var

  experiment_id sample_id proteins peptides
0     001-Pedro       [A]     2531    21548
1     002-Pedro       [B]     2385    20925
2     003-Pedro       [A]     2550    21542
3     004-Pedro       [B]     2431    21528
4     005-Pedro       [A]     2465    20839
5     006-Pedro       [B]     2294    19629

tenzer reported : reported

peptide

37,133 : (40,468 - 43,076)

protein

4,307 : (4,759 - 4,981)