# About

This scripts check amount of protein with shared peptides.

In [2]:
import os 
import re
import pandas as pd
import numpy as np

# read in .fasta file and count shared peptides

os.chdir("/home/ptruong/git/dia_sum")
#filename = "database/2021-06-07/UP00000625_UP000002311_UP000005640.fasta"
filename = "database/napedro_3mixed_human_yeast_ecoli_20140403_iRT_reverse.fasta"

file = open(filename, "r")

protein_list = []
sequence_list = []
for line in file: 
    if line[0] == ">":
        protein = line 
    else:
        sequence = line.rstrip()
        split_sequence = re.split(r"(?<=[KR])", sequence)
        split_sequence = list(dict.fromkeys(split_sequence))
        sequence_list += split_sequence
        protein_list += [protein for i in range(len(split_sequence))]

In [3]:
df = pd.DataFrame(np.array([protein_list, sequence_list]).T, columns = ["protein", "sequence"])
df["seq_length"] = df.sequence.str.len()
df = df[df["seq_length"] > 7]
df.drop("seq_length", axis = 1, inplace = True)
df.drop_duplicates(inplace=True)
counted_df = df.groupby("sequence").count().sort_values(by = "protein", ascending = False)

In [4]:
counted_df

                                   protein
sequence
DGEDQTQDTELVETR                         66
PYECNECGK                               61
PYECSECGK                               59
SAADSDFR                                57
CWALGFYPAEITLT                          56
...                                    ...
GTGSEPLPELLFPWTCR                        1
GTGSENLHHGILWLFLDPFQIHHADVNGLPPPS        1
GTGSEGVVMVSS                             1
GTGSEGSILVSAQSLAIK                       1
ZZYWBLYSSITZSAK                          1

[1376105 rows x 1 columns]

In [5]:
counted_df[counted_df.protein > 1]

                 protein
sequence
DGEDQTQDTELVETR       66
PYECNECGK             61
PYECSECGK             59
SAADSDFR              57
CWALGFYPAEITLT        56
...                  ...
FTNGCENC               2
FQQFLDFMFR             2
YMDIEFDFK              2
FIDNDQSGYLD            2
SGGSCPAAGHSQQ          2

[26714 rows x 1 columns]

In [6]:
counted_df[counted_df.protein == 1]

                                   protein
sequence
PQSWEEVTVQFK                             1
PPSHSFSAVFDEDK                           1
PPSGLEHQQTGLSESHQ                        1
PPSHSSEPD                                1
PPSHSFCHAASVV                            1
...                                    ...
GTGSEPLPELLFPWTCR                        1
GTGSENLHHGILWLFLDPFQIHHADVNGLPPPS        1
GTGSEGVVMVSS                             1
GTGSEGSILVSAQSLAIK                       1
ZZYWBLYSSITZSAK                          1

[1349391 rows x 1 columns]

In [7]:
# Conclusion

print(f"15167 sequences are shared in > 1 Proteins. ({round(len(counted_df[counted_df.protein > 1])/ len(counted_df), 6)} of proteins. ))")
print(f"682301 sequences has unique proteins.({round(len(counted_df[counted_df.protein == 1])/ len(counted_df), 6)} of proteins.))")

15167 sequences are shared in > 1 Proteins. (0.019413 of proteins. ))
682301 sequences has unique proteins.(0.980587 of proteins.))

In [8]:
df

                                                   protein            sequence
4        >sp|P31946|1433B_HUMAN 14-3-3 protein beta/alp...           YDDMAAAMK
5        >sp|P31946|1433B_HUMAN 14-3-3 protein beta/alp...      AVTEQGHELSNEER
6        >sp|P31946|1433B_HUMAN 14-3-3 protein beta/alp...            NLLSVAYK
11       >sp|P31946|1433B_HUMAN 14-3-3 protein beta/alp...            VISSIEQK
18       >sp|P31946|1433B_HUMAN 14-3-3 protein beta/alp...  IEAELQDICNDVLELLDK
...                                                    ...                 ...
3822263                         >reverse_iRT reverse of \n       VPAYYSAADLGDR
3822264                         >reverse_iRT reverse of \n       SWESFDAPTVDAK
3822265                         >reverse_iRT reverse of \n        IVGGPDIIFTGR
3822266                         >reverse_iRT reverse of \n        IVAAPDIIFTGR
3822268                         >reverse_iRT reverse of \n      LFPSGQAGFQLFLK

[1421359 rows x 2 columns]

In [63]:
seqeunces_in_more_than_one_protein = counted_df[counted_df > 1].dropna().index
df_shared_peptides_protein = df[df.sequence.isin(seqeunces_in_more_than_one_protein)]

In [64]:
seqeunces_one_protein = counted_df[counted_df.protein == 1].dropna().index
df_non_shared_peptides_protein = df[df.sequence.isin(seqeunces_one_protein)]

In [62]:
seqeunces_in_more_than_one_protein.isin(seqeunces_one_protein).sum()

0

In [56]:
len(df_shared_peptides_protein)/len(df)

0.050633231998390274

In [57]:
# Conclusion

print(f"{len(counted_df[counted_df.protein > 1])} sequences are shared in > 1 Proteins. ({round(len(counted_df[counted_df.protein > 1])/ len(counted_df), 6)} of proteins. ))")
print(f"{len(counted_df[counted_df.protein == 1])} sequences has unique proteins.({round(len(counted_df[counted_df.protein == 1])/ len(counted_df), 6)} of proteins.))")

26714 sequences are shared in > 1 Proteins. (0.019413 of proteins. ))
1349391 sequences has unique proteins.(0.980587 of proteins.))

In [58]:
# Conclusion

print(f"{len(df_shared_peptides_protein)} proteins have shared peptides. ({round(len(df_shared_peptides_protein)/len(df), 6)} of proteins. ))")
print(f"{len(df_non_shared_peptides_protein)} proteins have unique peptides.({round(len(df_non_shared_peptides_protein.protein.unique()) / len(df.protein.unique()), 6)} of proteins.))")

71968 proteins have shared peptides. (0.050633 of proteins. ))
1349391 proteins have unique peptides.(0.98985 of proteins.))

In [68]:
df_non_shared_peptides_protein[df_non_shared_peptides_protein.protein.isin(df_shared_peptides_protein.protein)]

,protein,sequence
5,>sp|P31946|1433B_HUMAN 14-3-3 protein beta/alp...,AVTEQGHELSNEER
18,>sp|P31946|1433B_HUMAN 14-3-3 protein beta/alp...,IEAELQDICNDVLELLDK
19,>sp|P31946|1433B_HUMAN 14-3-3 protein beta/alp...,YLIPNATQPESK
24,>sp|P31946|1433B_HUMAN 14-3-3 protein beta/alp...,YLSEVASGDNK
25,>sp|P31946|1433B_HUMAN 14-3-3 protein beta/alp...,QTTVSNSQQAYQEAFEISK
...,...,...
3817169,>reverse_sp|Q46953|YPJF_ECOLI reverse of Proba...,AAQSITAPLTNMR
3817170,>reverse_sp|Q46953|YPJF_ECOLI reverse of Proba...,IVTEDSFPTDNLTLGYHQELLK
3817175,>reverse_sp|Q46953|YPJF_ECOLI reverse of Proba...,LIDVVSIYPSQQQWSFGR
3817249,>sp|P58033|YPJJ_ECOLI Uncharacterized protein ...,DVPDITGVLAVYAER
3817261,>reverse_sp|P58033|YPJJ_ECOLI reverse of Uncha...,EAYVALVGTIDPVDR

In [69]:
df_shared_peptides_protein

                                                   protein         sequence
4        >sp|P31946|1433B_HUMAN 14-3-3 protein beta/alp...        YDDMAAAMK
6        >sp|P31946|1433B_HUMAN 14-3-3 protein beta/alp...         NLLSVAYK
11       >sp|P31946|1433B_HUMAN 14-3-3 protein beta/alp...         VISSIEQK
27       >sp|P31946|1433B_HUMAN 14-3-3 protein beta/alp...        EMQPTHPIR
32       >sp|P31946|1433B_HUMAN 14-3-3 protein beta/alp...       DSTLIMQLLR
...                                                    ...              ...
3817168  >reverse_sp|Q46953|YPJF_ECOLI reverse of Proba...  TLLMQWVAVPSLCPK
3817171  >reverse_sp|Q46953|YPJF_ECOLI reverse of Proba...       EVLFNVADAL
3817172  >reverse_sp|Q46953|YPJF_ECOLI reverse of Proba...        TIGADIHEK
3817248  >sp|P58033|YPJJ_ECOLI Uncharacterized protein ...    YQWHGSVCHYTGR
3817260  >reverse_sp|P58033|YPJJ_ECOLI reverse of Uncha...    GTYHCVSGHWQYR

[71968 rows x 2 columns]

In [45]:
len(df_non_shared_peptides_protein)

1349391

In [46]:
len(df_shared_peptides_protein.protein.unique()) / len(df.protein.unique())

0.23475000818571756

In [28]:
len(df_shared_peptides_protein.protein.unique())

14339

In [29]:
len(df_non_shared_peptides_protein.protein.unique())

60462

In [31]:
len(df.protein.unique())

61082

In [32]:
df_non_shared_peptides_protein.protein.isin(df_shared_peptides_protein.protein.unique())

5           True
18          True
19          True
24          True
25          True
           ...
3822263    False
3822264    False
3822265    False
3822266    False
3822268    False
Name: protein, Length: 1349391, dtype: bool