In [6]:
import os
import pandas as pd
import numpy as np

In [3]:
os.chdir('/home/ptruong/anaconda3/envs/r_env/lib/R/library/msdata/quant/')

In [4]:
os.listdir()

['cptac_a_b_peptides.txt']

In [7]:
df = pd.read_csv('cptac_a_b_peptides.txt', sep = "\t")

In [9]:
# fnames - feature names columns
df.iloc[:,0]

0         AAAAGAGGAGDSGDAVTK
1                  AAAALAGGK
2                 AAAALAGGKK
3               AAADALSDLEIK
4            AAADALSDLEIKDSK
                ...
11461       YYSIYDLGNNAVGLAK
11462       YYTFNGPNYNENETIR
11463             YYTITEVATR
11464            YYTVFDRDNNR
11465    YYTVFDRDNNRVGFAEAAR
Name: Sequence, Length: 11466, dtype: object

In [22]:
len(df.iloc[:,0].unique())

11466

In [16]:
# expressions 
df.iloc[:,55:61]

,Intensity 6A_7,Intensity 6A_8,Intensity 6A_9,Intensity 6B_7,Intensity 6B_8,Intensity 6B_9
0,0.0,0.0,66760.0,0.0,37436.0,0.0
1,2441300.0,1220000.0,1337600.0,2850900.0,935580.0,1606200.0
2,1029200.0,668040.0,638990.0,777030.0,641270.0,562840.0
3,515460.0,670780.0,712140.0,426580.0,620510.0,737780.0
4,331130.0,420900.0,365560.0,329250.0,380820.0,414490.0
...,...,...,...,...,...,...
11461,0.0,0.0,0.0,0.0,0.0,0.0
11462,88629.0,0.0,55584.0,63071.0,0.0,0.0
11463,298360.0,0.0,0.0,0.0,366000.0,0.0
11464,0.0,0.0,0.0,0.0,0.0,0.0
11465,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
# condition columns
df.iloc[:,12]

0        2
1        0
2        0
3        2
4        3
        ..
11461    1
11462    0
11463    0
11464    2
11465    2
Name: D Count, Length: 11466, dtype: int64

In [ ]:
df