# About

This scripts check amount of protein with shared peptides.

In [3]:
import os 
import re
import pandas as pd
import numpy as np

# read in .fasta file and count shared peptides

os.chdir("/home/ptruong/git/dia_sum")
filename = "database/2021-06-07/UP00000625_UP000002311_UP000005640.fasta"

file = open(filename, "r")

protein_list = []
sequence_list = []
for line in file: 
    if line[0] == ">":
        protein = line 
    else:
        sequence = line.rstrip()
        split_sequence = re.split(r"(?<=[KR])", sequence)
        split_sequence = list(dict.fromkeys(split_sequence))
        sequence_list += split_sequence
        protein_list += [protein for i in range(len(split_sequence))]

In [7]:
df = pd.DataFrame(np.array([protein_list, sequence_list]).T, columns = ["protein", "sequence"])
df["seq_length"] = df.sequence.str.len()
df = df[df["seq_length"] > 7]
df.drop("seq_length", axis = 1, inplace = True)
df.drop_duplicates(inplace=True)
counted_df = df.groupby("sequence").count().sort_values(by = "protein", ascending = False)

In [8]:
counted_df

                            protein
sequence
PYECNECGK                        61
PYECSECGK                        60
LSVDYTDIMK                       59
PPPMLTSPND                       58
EVHTNQDPLDVSASK                  58
...                             ...
GTTFIIFGSLTFLISLSVLIWFPETK        1
GTTFSILSDVHNR                     1
GTTFSQAK                          1
GTTFTESFIK                        1
YYYYWHLR                          1

[697468 rows x 1 columns]

In [9]:
counted_df[counted_df.protein > 1]

                   protein
sequence
PYECNECGK               61
PYECSECGK               60
LSVDYTDIMK              59
PPPMLTSPND              58
EVHTNQDPLDVSASK         58
...                    ...
DIVTVGQCR                2
LSTIQNADLIVVFQNGR        2
GGQTIVQLQK               2
MDSTVPSALELPQR           2
SLVDNMITGVTK             2

[15167 rows x 1 columns]

In [10]:
counted_df[counted_df.protein == 1]

                                            protein
sequence
PMSPITAQMSQLELQQAALEGLALPHDLAVQAANFYQPGFGK        1
PNICQCLPGHGGATCDEEHCNPPCQHGGTCLAGNLCTC            1
PPPVLITLPAEPTLPPDAYSHLQGHLGHFPGPEPLAFPVK          1
PPSMEYCVLLFCCCICGFESTSK                           1
PMVLVLLMLTCK                                      1
...                                             ...
GTTFIIFGSLTFLISLSVLIWFPETK                        1
GTTFSILSDVHNR                                     1
GTTFSQAK                                          1
GTTFTESFIK                                        1
YYYYWHLR                                          1

[682301 rows x 1 columns]

In [27]:
# Conclusion

print(f"15167 sequences are shared in > 1 Proteins. ({round(len(counted_df[counted_df.protein > 1])/ len(counted_df), 6)} of proteins. ))")
print(f"682301 sequences has unique proteins.({round(len(counted_df[counted_df.protein == 1])/ len(counted_df), 6)} of proteins.))")

15167 sequences are shared in > 1 Proteins. (0.021746 of proteins. ))
682301 sequences has unique proteins.(0.978254 of proteins.))